.passwordRandomizer{
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputs .passwordInput{
    padding: 10px 25px 10px 10px;
    font-size: 20px;
    border-width: 1px;
    border-color: #97d2ec;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    cursor: default;
}

.inputs .passwordSection{
    position: relative;
}

.inputs .icon{
    position: absolute;
    right: 10px;
    top: calc(50% - 8px);
    color: #25316D;
    cursor: pointer;
}

.inputs .passwordInput:focus{
    outline: none;
}

.copyInformation{
  font-size: 24px;
}

.controlSection{
  width: 100%;
  display: flex;
  justify-content: space-around;

}

.option {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}

.option input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.option_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 0px;
}
.option:hover input ~ .option_indicator,
.option input:focus ~ .option_indicator {
    background: #5F6F94;
}

.option input:checked ~ .option_indicator {
    background: #25316D;
}
.option:hover input:not([disabled]):checked ~ .option_indicator,
.option input:checked:focus ~ .option_indicator {
    background: #0e647d;
}
.option input:disabled ~ .option_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.option_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.option input:checked ~ .option_indicator:after {
    display: block;
}
.option-checkbox .option_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.option-checkbox input:disabled ~ .option_indicator:after {
    border-color: #7b7b7b;
}
.option-checkbox .option_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #25316D;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #fff;
    border-radius: 0px;
    border: 1px solid #666666;
  }

  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #97d2ec;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fff;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #fff;
    border-radius: 0px;
    border: 1px solid #666666;
  }

  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #97d2ec;
    cursor: pointer;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animation: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: #fff;
    border: 1px solid #666666;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }

  input[type=range]::-ms-fill-upper {
    background: #fff;
    border: 1px solid #666666;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }

  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #97d2ec;
    cursor: pointer;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: #fff;
  }

  input[type=range]:focus::-ms-fill-upper {
    background: #fff;
  }

  .generate-btn{
    font-weight: bold;
    color: #fff !important;
    font-size: 16px;
    padding: 10px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #25316d;
    border: none;
    cursor: pointer;
  }

  .generate-btn:hover {
    background: #1b265a;
  }
